Frontend
/master-agent-frontend/node_modules/
/master-agent-frontend/dist/
/master-agent-frontend/.vite/
/master-agent-frontend/app.yaml

# Backend
/master-agent-backend/__pycache__/
/master-agent-backend/env/
/master-agent-backend/venv/
/master-agent-backend/*.db
/master-agent-backend/.env
/master-agent-backend/app.yaml

# Common
.DS_Store
.vscode/
*.log

cloudbuild.yaml